.loader-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.loader {
    padding: 10px;
    border: 6px solid #00bc77;
    border-bottom-color: transparent;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    height: 0;
    width: 0;
}
